{erl_opts, [
    debug_info
    ,report
    ,verbose
    ,{debug_info_key,"LoveFromZwj_Erl#@$!@#d00Rebar3#$%"}
    ,{author, "zwj187@gmail.com"}
    ,warn_unused_function
    ,warn_deprecated_function
    ,warn_deprecated_type
    ,nowarn_export_all
    ,nowarn_unused_record
    ,nowarn_untyped_record
    ,{i, "include"}
    ,{src_dirs, [{"src", [{recursive, true}]}]}
]}.

%% https://hex.pm/docs/rebar3-usage
{
    hex,
    [
        {hex, <<"hexpm">>, <<"https://hex.pm/">>}
    ]
}.
%% hex plugin
{plugins, [rebar3_hex]}.

%% https://www.rebar3.org/docs/commands/#get-deps
{deps, [
    {lager, "3.9.2"}
    ,{jsx, "3.1.0"}
    ,{emysql, "0.4.1"}
    ,{recon, "2.5.6"}
    ,{eredis, "1.7.1"}
    ,{cowboy, "2.12.0"}
]}.

{dist_node, [
    {setcookie, 'egs.zwj187.cn'},
    {sname, 'egs'}
]}.

{erl_first_files, []}.
{erlc_compiler,[{recursive,true}]}.

{shell, [
     {config, "configs/egs.config"},
    {apps, [egs]}
]}.

{minimum_otp_vsn, "25"}.
{cover_compile, true}.
{cover_enabled, true}.

{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which is often
    %% very verbose
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

