%% 游戏服务配置
[

  %% 日志配置
  {lager, [
    {handlers, [
      %% 控制台
      {lager_console_backend, [
        {level, info}
      ]},
      %% 文件
      {lager_file_backend, [
        {file, "error.log"},
        {size, 10485760},
        {date, "$D0"},
        {count, 5},
        {level, warning}
      ]}
    ]}
  ]}

  %% egs配置
  ,{egs, [
    %% 服务器配置
    {name, "game_server"},
    %% 监听: 地址 端口 线程数
    {net, ["127.0.0.1", 9999, 10]},
    %% http
    {http, ["127.0.0.1", 8899]},
    %% 数据库
    {mysql, [
      {enable, true},
      {host, "127.0.0.1"},
      {port, 3306},
      {user, "root"},
      {password, "123456"},
      {database, "game"},
      {encoding, utf8},
      {pool_size, 20}
    ]},
    %% redis
    {redis, [
      {enable, true},
      {host, "127.0.0.1"},
      {port, 6379},
      {password, ""},
      {database, 0},
      {reconnect_sleep, 100},
      {timeout, 5000}
    ]},
    %% 内置服务
    {services, [
      %% {service, worker}
      {serv_dump, 20},
      {serv_mail, 2},
      {serv_guild, 2}
    ]},
    %% 消息处理器
    {handlers, [
      %% {proto, handler}
      {10, login_handler},
      {11, player_handler}
    ]}

  ]}

].